@model IEnumerable<Ling.Models.Recording>

@{
    ViewData["Title"] = "Recordings";
}
<h1>Explore</h1>
<div>
    <h3>Recordings</h3>
    <ul>
        @foreach (var rec in Model)
        {
            <li>
                <audio controls="true" src="@rec.URI">

                </audio>
            </li>
        }
    </ul>
</div>