/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-color: white;
}

html {
    position: relative;
    min-height: 100%;
}
.navbar.navbar-light {
    padding: 0.5rem 0.5rem;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 150px;
    width: 0;
    height: 100%;
    margin-left: -150px;
    overflow-y: auto;
    background: black;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -150px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
text-indent: 20px;
line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 150px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 150px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#languageRegion{
    background-color: black;
    color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



.box {
margin-top: 100px;
margin-bottom: 100px;   
}

.object {
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.outline {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid #B5A4A4;
    position: absolute;
}

.outline.pulse {
    animation: pulse 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #ff0000;
    position: absolute;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
        border: 65px solid rgb(69, 70, 72);
    }

    50% {
        border: solid rgb(255, 255, 255);
        opacity: 0.8;
    }

    90% {
        transform: scale(2.7);
        opacity: 0.3;
        border: 3px solid black;
    }

    100% {
        transform: scale(3);
        opacity: 0;
        border: 1px solid rgb(138, 139, 146);
    }
}

#delayed {
    animation-delay: 1.5s;
}

#circlein {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ff0000;
    position: absolute;
}

.mic-icon {
    height: 60px;
    margin: 21px;
}


#playPause{
    border-color: black;
    background-color:red;
    margin-top:38px;
}

#wrapper .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: black;
    border-color: #007bff;
}

#wrapper .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -2px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    color:red;
}