@{
    ViewData["Title"] = "Home Page";
}
<h1>Ling!</h1>
<div class="audioRecordControls mx-auto text-center">
    <button class="btn btn-lg btn-danger" id="recordButton">Record</button>
    <button class="btn btn-lg" id="stopButton">Stop</button>
</div>
<div id="selectLanguageRegion" hidden>
    <label>Select Language Region</label>
    <select id="languageRegion">
        <option value="Asia">Asia</option>
        <option value="South Asia">South Asia</option>
        <option value="Africa">Africa</option>
        <option value="Western Europe">Western Europe</option>
        <option value="Eastern Europe">Eastern Europe</option>
        <option value="South/Latin America">South/Latin America</option>
    </select>
</div>
<div id="recordingsList" class="text-center">
</div>
