@{
    ViewData["Title"] = "Home Page";
}
<h1>Ling!</h1>
<div>
    <button id="record-button">Record</button>
    <button id="pause-button">Pause</button>
    <button id="stop-button">Stop</button>
    <button id="save-button">Save!</button>
</div>
