@{
    ViewData["Title"] = "Home Page";
}
<h1>Ling!</h1>
<div>
    <button id="record-button">Record</button>
    <button id="stop-button">Stop</button>
</div>
<div>
    <h3>Recordings</h3>
    <ol id="recordingsList"></ol>
</div>
