@{
    ViewData["Title"] = "Home Page";
}
<h1>Ling!</h1>
<div class="audioRecordControls mx-auto text-center">
    <button class="btn btn-lg btn-danger" id="recordButton">Record</button>
    <button class="btn btn-lg" id="stopButton">Stop</button>
</div>
<div id="recordingsList" class="text-center">
</div>
